<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.satokendemospringboot.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxxx.satokendemospringboot.pojo.Role">
        <id column="id" property="id" />
        <result column="roleName" property="roleName" />
        <result column="roleRemark" property="roleRemark" />
        <result column="createDate" property="createDate" />
        <result column="updateDate" property="updateDate" />
        <result column="isValid" property="isValid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, roleName, roleRemark, createDate, updateDate, isValid
    </sql>
    <!--查询用户拥有的角色-->
    <select id="getRoleList" resultType="java.lang.String">
        select r.roleName from t_role r join t_user_role ur on(r.id=ur.roleId) where ur.userId=#{loginId}
    </select>
</mapper>
